.table dl, .table p {
    margin-bottom: 0;
}

.table dl dt {
    font-weight: normal;
}

.text-desc {
    color: #999999;
}

.text-666 {
    color: #666;
}

.fa-big {
    font-size: 18px;
}
.font-size-20{
    font-size: 20px;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.ml5 {
    margin-left: 5px;
}

.mr5 {
    margin-right: 5px;
}
.mt5{
    margin-top: 5px;
}
.w60{
    width: 60px;
}
.w96{
    width: 96px;
}
/**/
.ncsc-goods-sku.ps-container {
    background-color: #FCFCFC;
    text-align: left;
    padding-bottom: 3px;
    border: solid 1px #E6E6E6;
    position: relative;
    z-index: 1;
    overflow: hidden;
    box-shadow: 2px 2px 0 rgba(204, 204, 204, 0.1);
}

.ncsc-goods-sku-list {
    font-size: 0;
    padding: 0;
    *word-spacing: -1px /*IE6、7*/;
    white-space: nowrap;
    display: inline-block;
    *display: inline;
    margin: 10px 0;
    zoom: 1;
    overflow: hidden;
}

.ncsc-goods-sku-list li {
    font-size: 12px;
    vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal;
    display: inline-block;
    *display: inline;
    width: 105px;
    padding: 0 9px 0 10px;
    margin-left: -1px;
    *zoom: 1;
    border-left: dashed 1px #E6E6E6;
}

.ncsc-goods-sku-list .goods-thumb {
    background-color: #FFF;
    width: 60px;
    height: 60px;
    padding: 1px;
    border: solid 1px #E6E6E6;
    margin: 0 auto 5px auto;
}

.ncsc-goods-sku-list .goods-thumb a {
    line-height: 0;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    *display: block;
    width: 60px;
    height: 60px;
    overflow: hidden;
}

.ncsc-goods-sku-list .goods-thumb a img {
    max-width: 60px;
    max-height: 60px;
    margin-top: expression(60-this.height/2);
    *margin-top: expression(30-this.height/2) /*IE6,7*/;
}

.ncsc-goods-sku-list .goods_spec em,
.ncsc-goods-sku-list .goods-price em,
.ncsc-goods-sku-list .goods-storage em {
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    display: inline-block;
    *display: inline /*IE7*/;
    width: 60px;
    zoom: 1;
    overflow: hidden;
}

.ncsc-goods-sku-list .goods_spec em {
    color: #448944;
}

.ncsc-goods-sku-list .goods-price em {
    color: #F30;
}

.ncsc-goods-sku-list .goods-storage em {
    color: #27A9E3
}

.ncsc-goods-sku-list a.ncsc-btn-mini {
    font: normal 12px/20px arial;
    color: #777;
    background-color: #F5F5F5;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    height: 20px;
    padding: 0 10px;
    margin-right: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: #DCDCDC #DCDCDC #B3B3B3 #DCDCDC;
    cursor: pointer;
}

.ncsc-goods-sku-list a:hover.ncsc-btn-mini {
    text-decoration: none;
    color: #333;
    background-color: #E6E6E6;
    border-color: #CFCFCF #CFCFCF #B3B3B3 #CFCFCF;
}
