.wrapper {
  background: #eee;
  padding: 1px;
}
.wrapper-header .ivu-menu-horizontal {
  height: 80px;
  line-height: 80px;
}
.wrapper-header-nav {
  width: 90%;
  height: 80px;
  margin: 0 auto;
}
.wrapper-container {
  background: #fff;
  width: 90%;
  margin: 30px auto 20px;
  border-radius: 6px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}